# Adult Educational Outcomes Exploration

## Import Packages

## Import data

In [1]:
#import packages
import pandas as pd
import scipy, scipy.stats
import numpy as np
from scipy.stats import norm
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
PIAAC_File = pd.read_excel('/Users/hilarydraper/Desktop/Adult_Literacy_and_Numeracy.xlsx')

## Create the various data frames that will be needed during later analysis

In [3]:
All_Ed_Outcomes = PIAAC_File[["State", "Lit_P1", "Lit_P2", "Lit_P3", "Num_P1", "Num_P2", "Num_P3", 
                           "Male", "Female", "Less_HS", "HS", "More_HS", "SNAP", "Employed", "Unemployed"]]

In [4]:
All_Ed_Outcomes.describe()

,Lit_P1,Lit_P2,Lit_P3,Num_P1,Num_P2,Num_P3,Male,Female,Less_HS,HS,More_HS,SNAP,Employed,Unemployed
count,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,0.217129,0.379674,0.403224,0.330473,0.369560,0.300003,0.500826,0.499174,0.138088,0.344155,0.517765,0.136837,0.658417,0.044877
std,0.082883,0.053565,0.110125,0.108625,0.053733,0.102447,0.024204,0.024204,0.064781,0.071500,0.106890,0.065946,0.094690,0.019498
min,0.056000,0.171000,0.000000,0.082000,0.166000,0.000000,0.419000,0.192000,0.011000,0.073000,0.152000,0.000000,0.111000,0.000000
25%,0.156000,0.347000,0.326250,0.250250,0.336000,0.228250,0.489000,0.494000,0.090000,0.300000,0.440000,0.091000,0.602000,0.033000
50%,0.200000,0.382000,0.408000,0.310000,0.374000,0.300000,0.496000,0.504000,0.124000,0.348000,0.517000,0.130000,0.667000,0.044000
75%,0.265000,0.418000,0.481000,0.394000,0.406000,0.369000,0.506000,0.511000,0.177000,0.393750,0.590000,0.173750,0.725750,0.054000
max,0.701000,0.521000,0.771000,0.840000,0.559000,0.672000,0.808000,0.581000,0.587000,0.549000,0.909000,0.580000,0.918000,0.253000

In [5]:
Lit_Ed_Outcomes_all3 = PIAAC_File[["State", "Lit_P1", "Lit_P2", "Lit_P3", 
                           "Male", "Female", "Less_HS", "HS", "More_HS", "SNAP", "Employed", "Unemployed"]]

In [6]:
Num_Ed_Outcomes_all3 = PIAAC_File[["State", "Num_P1", "Num_P2", "Num_P3", 
                           "Male", "Female", "Less_HS", "HS", "More_HS", "SNAP", "Employed", "Unemployed"]]

In [7]:
Num_Low_Outcomes = Num_Ed_Outcomes_all3[["State", "Num_P1", 
                           "Male", "Female", "Less_HS", "HS", "More_HS", "SNAP", "Employed", "Unemployed"]]

In [8]:
# Filter to target the state with the highest percentage of lowest outcomes

In [9]:
MS_Num_Ed_Outcomes_all3 = Num_Ed_Outcomes_all3[Num_Ed_Outcomes_all3['State'].str.contains('Mississippi')]
MS_Num_Ed_Outcomes_all3.head()

,State,Num_P1,Num_P2,Num_P3,Male,Female,Less_HS,HS,More_HS,SNAP,Employed,Unemployed
13,Mississippi,0.538,0.303,0.159,0.485,0.515,0.255,0.365,0.380,0.222,0.594,0.052
51,Mississippi,0.422,0.309,0.268,0.486,0.514,0.138,0.307,0.555,0.186,0.610,0.048
72,Mississippi,0.394,0.352,0.254,0.506,0.494,0.174,0.349,0.477,0.180,0.607,0.038
73,Mississippi,0.507,0.306,0.187,0.478,0.522,0.246,0.359,0.395,0.175,0.561,0.052
188,Mississippi,0.447,0.310,0.243,0.479,0.521,0.218,0.328,0.455,0.196,0.662,0.064

In [10]:
MS_Num_Ed_Outcomes_all3.describe()

,Num_P1,Num_P2,Num_P3,Male,Female,Less_HS,HS,More_HS,SNAP,Employed,Unemployed
count,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,0.494841,0.295720,0.209439,0.489159,0.510841,0.202524,0.330146,0.467366,0.200744,0.563390,0.063585
std,0.119770,0.055335,0.091219,0.023398,0.023398,0.053294,0.051595,0.087424,0.068016,0.082343,0.022549
min,0.269000,0.166000,0.000000,0.461000,0.413000,0.091000,0.163000,0.274000,0.075000,0.339000,0.031000
25%,0.411000,0.258750,0.148250,0.477250,0.508000,0.169500,0.301000,0.399250,0.156000,0.530000,0.049000
50%,0.484500,0.306500,0.203000,0.486000,0.514000,0.206500,0.336000,0.457000,0.188500,0.579500,0.060500
75%,0.562000,0.332750,0.261500,0.492000,0.522750,0.233500,0.366500,0.499750,0.228000,0.609000,0.071000
max,0.779000,0.397000,0.473000,0.587000,0.539000,0.344000,0.450000,0.747000,0.382000,0.731000,0.156000

In [11]:
MS_Num_Low_Outcomes = Num_Low_Outcomes[Num_Low_Outcomes['State'].str.contains('Mississippi')]

In [12]:
MS_Num_Low_Outcomes.tail()

,State,Num_P1,Male,Female,Less_HS,HS,More_HS,SNAP,Employed,Unemployed
3035,Mississippi,0.426,0.488,0.512,0.178,0.311,0.511,0.170,0.602,0.054
3072,Mississippi,0.386,0.493,0.507,0.192,0.335,0.473,0.149,0.608,0.060
3116,Mississippi,0.441,0.486,0.514,0.198,0.423,0.379,0.120,0.643,0.031
3136,Mississippi,0.394,0.490,0.510,0.148,0.361,0.491,0.199,0.557,0.058
3138,Mississippi,0.583,0.496,0.504,0.205,0.348,0.448,0.221,0.472,0.063

In [13]:
MS_Num_Low_Outcomes.value_counts()

State         Num_P1  Male   Female  Less_HS  HS     More_HS  SNAP   Employed  Unemployed
 Mississippi  0.269   0.482  0.518   0.103    0.262  0.635    0.075  0.704     0.034         1
              0.566   0.485  0.515   0.258    0.363  0.379    0.181  0.593     0.075         1
              0.541   0.464  0.536   0.200    0.320  0.480    0.198  0.583     0.079         1
              0.538   0.485  0.515   0.255    0.365  0.380    0.222  0.594     0.052         1
              0.534   0.503  0.497   0.217    0.383  0.400    0.173  0.582     0.062         1
                                                                                            ..
              0.426   0.488  0.512   0.178    0.311  0.511    0.170  0.602     0.054         1
                      0.487  0.513   0.218    0.333  0.450    0.218  0.572     0.044         1
              0.422   0.486  0.514   0.138    0.307  0.555    0.186  0.610     0.048         1
              0.417   0.483  0.517   0.155    0.378  0.468    0.173  0.584     0.050         1
              0.779   0.492  0.508   0.258    0.378  0.364    0.337  0.373     0.041         1
Length: 82, dtype: int64

In [14]:
MS_Num_Low_Outcomes.Num_P1.value_counts()

0.394    3
0.375    2
0.446    2
0.426    2
0.496    2
        ..
0.281    1
0.430    1
0.528    1
0.336    1
0.583    1
Name: Num_P1, Length: 76, dtype: int64

## Correlation Matrix of factors to be examined

In [15]:
Num_Ed_Outcomes_all3.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

In [16]:
MS_Num_Ed_Outcomes_all3.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)

In [24]:
# The strongest statistical corrilations are in